absl-py==2.1.0
annotated-types==0.7.0
astunparse==1.6.3
blis==0.7.11
catalogue==2.0.10
certifi==2024.2.2
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.16.0
confection==0.1.4
cymem==2.0.8
distlib==0.3.8
emot==3.1
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl#sha256=6a0f857a2b4d219c6fa17d455f82430b365bf53171a2d919b9376e5dc9be032e
filelock==3.14.0
flatbuffers==24.3.25
gast==0.5.4
google-pasta==0.2.0
grpcio==1.64.0
h5py==3.11.0
identify==2.5.36
idna==3.7
iniconfig==2.0.0
Jinja2==3.1.4
joblib==1.4.2
keras==3.3.3
langcodes==3.4.0
language_data==1.2.0
libclang==18.1.1
marisa-trie==1.1.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
ml-dtypes==0.3.2
murmurhash==1.0.10
namex==0.0.8
nltk==3.8.1
nodeenv==1.8.0
numpy==1.26.4
opt-einsum==3.3.0
optree==0.11.0
packaging==24.0
pandas==2.2.2
platformdirs==4.2.2
pluggy==1.5.0
praw==7.7.1
prawcore==2.4.0
pre-commit==3.7.1
preshed==3.0.9
protobuf==4.25.3
pydantic==2.7.1
pydantic_core==2.18.2
Pygments==2.18.0
pytest==8.2.1
pytest-mock==3.14.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
regex==2024.5.15
requests==2.32.2
rich==13.7.1
scikit-learn==1.5.0
scipy==1.13.1
setuptools==70.0.0
six==1.16.0
smart-open==6.4.0
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
termcolor==2.4.0
thinc==8.2.3
threadpoolctl==3.5.0
tqdm==4.66.4
typer==0.9.4
typing_extensions==4.12.0
tzdata==2024.1
update-checker==0.18.0
urllib3==2.2.1
virtualenv==20.26.2
wasabi==1.1.2
weasel==0.3.4
websocket-client==1.8.0
Werkzeug==3.0.3
wheel==0.43.0
wrapt==1.16.0
