certifi==2024.2.2
cfgv==3.4.0
charset-normalizer==3.3.2
distlib==0.3.8
filelock==3.14.0
identify==2.5.36
idna==3.7
iniconfig==2.0.0
nodeenv==1.8.0
numpy==1.26.4
packaging==24.0
pandas==2.2.2
platformdirs==4.2.2
pluggy==1.5.0
praw==7.7.1
prawcore==2.4.0
pre-commit==3.7.1
pytest==8.2.1
pytest-mock==3.14.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
requests==2.32.2
setuptools==70.0.0
six==1.16.0
tzdata==2024.1
update-checker==0.18.0
urllib3==2.2.1
virtualenv==20.26.2
websocket-client==1.8.0
